{% extends "main.html" %}
{% block content %}
{% include "publicsidebar.html" %}

<!-- Page content -->
<div class="main">
  <h3>{{ category.name }} Items ({{items|count}})</h3>
  <div class = 'flash'>
  		{% with messages = get_flashed_messages() %}
        {% if messages %}

          <ul>
          {% for message in messages %}
              <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
          </ul>
          {% endif %}
      {% endwith %}

  </div>

  {% for item in items %}
  <a href='{{url_for('frontend_catalog.showOneCatalogItem', category_name = category.name, catalog_name = item.title) }}'>
    <p>{{item.title}}</p>
  </a>
  {% endfor %}


</div>

{% endblock %}
