<!DOCTYPE html>
<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div class="topnav">
		  <a href="/">Catalog App</a>
			{%if 'username' not in session %}
			<a href="{{url_for('showLogin')}}" class="button">Login </a>
			{% else %}
			<a href="{{url_for('gdisconnect')}}" class="button">Logout </a>
			{% endif %}

		</div>
		{% block content %}
		{% endblock %}
	</body>
</html>
